body {
    font-family: 'Kdam Thmor Pro', sans-serif;
    background-color: #233d4d;
    color: #fe7f2d;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

#button-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

button {
    font-family: 'Kdam Thmor Pro', sans-serif;
    background-color: #233d4d;
    color: #fe7f2d;
    font-size: 63px;
    border-radius: 15px;
    border: 2px solid #fe7f2d;
    padding: 0 30px;
    cursor: pointer;
}

button:hover{
    color: #233d4d;
    background-color: #fe7f2d;
}

#game-button {
    font-size: 125px;
}

#restart-button {
    font-size: 40px;
}

.selection {
    min-width: 375px;
    padding: 0;
}